.common-input-box{
    position: relative;
    width: 100%;
    border-radius: 10px;
}

.common-input-box input{
    outline: none;
    color: rgb(33, 30, 30);
    padding: .5rem 1rem;
    border:1px solid rgb(124, 124, 124);
    border-radius: 10px;
    width:100%;

}
.common-input-box:focus-within{
    border:1px solid var(--brand-dark);
}

.common-input-box label{
    position: absolute;
    top: .5rem;
    left: 1rem;
    color: rgb(197, 197, 197);
    pointer-events: none;
    text-transform: capitalize;
    font-size: 1rem;
    transition:150ms cubic-bezier(.4,0,.2,.1);
}

.common-input-box input:is(:focus,:valid) ~ label{
    transform: translate(0, -1.35rem) scale(.8);
    background-color: white;
    padding-inline: .3rem;
    color: var(--brand-dark);
    font-weight: 500;
}
input:-webkit-autofill{
    -webkit-box-shadow:0 0 0 1000px white inset
}