.common-button{
    padding: .5rem .7rem;
    background-color: var(--brand-light);
    color: var(--brand-dark);
    border: 1px thin var(--brand-green);
    border-radius: 5px;
    cursor: pointer;
}

.common-button:hover{
    background-color: var(--brand-green-2);
    color: var(--brand-white);
}

.common-button:active{
    transform: scale(.99
    );
}